<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/recordings-list.css">

    <title>Recordings List</title>
</head>
<body>
    <%- include('partials/header') -%> 

    <h1>Recordings</h1>

    <main>
        <div id="controls">
            <div id="left_controls">
                <div class="control_group" id="source_controls">
                    <label for="dropdown_toggle">Filter Sources</label>
                    <button id="dropdown_toggle"></button>
                    <ul id="dropdown_menu">
                        <% for( let source of sources ) { %>
                            <li data-id="<%= source.id %>"><%= source.name %></li>
                        <% } %>
                    </ul>
                </div>
                <div class="control_group" id="limit_controls">
                    <label for="limit_select">Results</label>
                    <select id="limit_select">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="control_group">
                    <button onclick="updateOnFilter();">Update</button>
                </div>
            </div>
            <div id="right_controls">
                <div class="control_group" id="page_controls">
                    <button onclick="goLatestPage()">Latest</button>
                    <div>
                        <button <%= hasNewer ? '':'disabled' %> onclick="goPrevPage()">&#60;</button>
                        <button <%= hasOlder ? '':'disabled' %> onclick="goNextPage()">&#62;</button>
                    </div>
                </div>
            </div>
        </div>

        <table>
            <colgroup>
                <col id="col_id">
                <col id="col_thumb">
                <col id="col_source">
                <col id="col_dates">
                <col id="col_duration">
                <col id="col_actions">
            </colgroup>
            <thead>
                <tr class="recording_row">
                    <th>ID</th>
                    <th>Thumbnail</th>
                    <th>Source</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let recording of recordings) { %> 
                    <tr>
                        <td>
                            <%= recording.id %>
                        </td>

                        <td>
                            <a href="/recordings/<%= recording.id %>">
                                <img src="/media/thumbs/<%= recording.id %>" alt="<%= recording.id %> thumbnail" class="thumb" loading="lazy">
                            </a>
                        </td>

                        <td>
                            <%= recording.source.name %>
                        </td>

                        <td class="date_td">
                            <div class="date_div">
                                <span class="local_date" title="Local Date">
                                    <%= formatDate(new Date(recording.startTS - recording.utcOffset)) %>
                                </span>
                                <span class="utc_date" title="UTC Date">
                                    <%= formatDate(new Date(recording.startTS)) %>
                                </span>
                            </div>
                        </td>

                        <td>
                            <%= recording.duration || '?' %>
                        </td>

                        <td>
                            <a href="/recordings/<%= recording.id %>">
                                <button class="action_button">View</button>
                            </a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>

    <script>
        function goLatestPage(){
            let url = new URL(window.location);
            let params = url.searchParams;

            params.delete('ntc');
            params.delete('otc');

            window.location = url;
        }

        function goNextPage(){
            let url = new URL(window.location);
            let params = url.searchParams;

            let id = <%= recordings.length > 0 ? recordings[recordings.length-1].id : -1 %>;
            if (id >= 0){
                params.delete('ntc');
                params.set('otc', id);

                window.location = url;
            }
        }

        function goPrevPage(){
            let url = new URL(window.location);
            let params = url.searchParams;

            let id = <%= recordings.length > 0 ? recordings[0].id : -1 %>;
            if (id >= 0){
                params.delete('otc');
                params.set('ntc', id);

                window.location = url;
            }
        }
    </script>

    <script src="/public/js/recordings-list.js"></script>
</body>
</html>